@charset 'utf-8';
@import url(style.css);

.section{
    max-width: 1200px;
    margin: auto;
    padding:20px 0;
}
.input{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 15px;
    color: #888;
    background-color: #eee;
}
.btn{
    width: 320px;
    height: 50px;
    font-size: 18px;
    border-radius: 15px;
}
main{
    .login-txt{
        text-align: center;
        h2{
            padding:20px;
        }
    }
    .input-box{
        padding:40px 0 10px 0;
        text-align: center;
        &__id{
            padding:20px 0 10px 0;
        }
    }
    .find-box{
        text-align: center;
        padding-bottom: 15px;
    }
    .button-box{
        text-align: center;
        &__login{
            padding:20px 0 10px 0;
            &-btn{
                color:#fff;
                border:none;
                background-color: #FC60AA;
            }
        }
        &__happymember{
            padding:0 0 20px 0;
            &-btn{
                color:#FC60AA;
                border:1px solid #999;
                background-color: #fff;
            }
        }
    }
    .service{
        display:flex;
        justify-content: space-between;
        margin:auto;
        padding:20px 0;
        width:800px;
        border-top: 1px solid #bbb;
        font-size: 12px;
        &__spc{
            width: 465px;
        }
    }
}