@font-face {
  font-family: AppleSDGothicNeoM;
  src: url(../fonts/AppleSDGothicNeoM.woff) format("woff");
}
@font-face {
  font-family: AppleSDGothicNeoL;
  src: url(../fonts/AppleSDGothicNeoL.woff) format("woff");
}
@font-face {
  font-family: AppleSDGothicNeoEB;
  src: url(../fonts/AppleSDGothicNeoEB.woff) format("woff");
}
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dt, dd, p {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}

* {
  font-family: AppleSDGothicNeoM;
}

.title {
  font-size: 40px;
}

header {
  max-width: 1920px;
  margin: auto;
}

.header {
  max-width: 1170px;
  margin: auto;
}
.header__logobox {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}
.header__logobox .logo {
  position: relative;
  top: 10px;
}
.header__logobox--left-box {
  position: absolute;
  top: 31px;
  left: 0;
  font-size: 21px;
}
.header__logobox--left-box i {
  margin-left: 15px;
}
.header__logobox--right-box {
  position: absolute;
  top: 31px;
  right: 0;
  color: black;
}
.header__logobox--right-box ul {
  display: flex;
}
.header__logobox--right-box ul li {
  margin-right: 15px;
}
.header__logobox--right-box ul li a {
  color: black;
}
.header__logobox--right-box ul li:nth-child(1)::after {
  content: " | ";
}
.header__logobox--right-box ul li:nth-child(3) a {
  color: #fc60aa;
}
.header__logobox h1 {
  margin: auto;
  width: 378px;
  height: 44px;
}
.header__logobox h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/logo1.png) no-repeat center center/contain;
  text-indent: -9999em;
}
.header .navbar {
  width: 100%;
  height: 100%;
  line-height: 80px;
  border-bottom: 1px solid #ccc;
}
.header .navbar__bg {
  position: absolute;
  top: 146px;
  left: 50%;
  width: 100%;
  height: 0px;
  background: #ffffff;
  z-index: 20;
  transform: translateX(-50%);
}
.header .navbar > ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header .navbar > ul .navbar__smenu {
  position: relative;
  width: 160px;
  height: 61px;
  transition: all 0.4s ease-out;
}
.header .navbar > ul .navbar__smenu > a {
  font-size: 18px;
  font-family: "AppleSDGothicNeoEB";
}
.header .navbar > ul .navbar__smenu ul li a {
  font-family: "AppleSDGothicNeoL";
}
.header .navbar > ul .navbar__smenu ul li a:hover {
  border-bottom: 1px solid #fc60aa;
}
.header .navbar > ul .navbar__smenu .smenu {
  position: absolute;
  top: 62px;
  display: none;
  width: 160px;
  z-index: 20;
  transition: all 0.4s ease-out;
}

main {
  position: relative;
  margin: auto;
  max-width: 1920px;
  overflow: hidden;
}
main .banner {
  height: 800px;
}
main .banner__bg {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 800px;
}
main .banner__bg .bg {
  position: relative;
  left: 0;
  width: 1920px;
  z-index: -20;
}
main .banner__bg .slide01 {
  background-color: #EE7F83;
}
main .banner__bg .slide02 {
  background-color: #FEEEDA;
}
main .banner__bg .slide03 {
  background-color: #EB9B22;
}
main .banner__bg .slide04 {
  background-color: #643725;
}
main .banner__bg .slide05 {
  background-color: #5AE9C0;
}
main .banner__slide {
  display: flex;
  position: relative;
  overflow: hidden;
}
main .banner__slide .slide__cont {
  position: relative;
}
main .banner__slide .slide__cont .slide__txt {
  position: relative;
  padding: 300px 300px 0 300px;
  z-index: 20;
}
main .banner__slide .slide__cont .slide__txt p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}
main .banner__slide .slide__cont .slide__pagenb {
  top: 0px;
  text-align: right;
  padding: 20px 1580px 295px 0px;
}
main .banner__slide .slide__cont .slide__pagenb .page {
  left: 0;
  width: 320px;
  height: 1px;
  background-color: black;
}
main .banner__image {
  position: absolute;
  top: 0px;
  left: 740px;
}
main .banner__image-slide {
  position: relative;
  display: flex;
  overflow: hidden;
}
main .banner__round #bigRound {
  position: absolute;
  transition: all 0.4s ease-out;
  top: 0;
  right: 0;
  z-index: -10;
  overflow: hidden;
}
main .banner__round #smallRound {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
main .banner__round #twoRound {
  position: absolute;
  left: 200px;
  top: 120px;
  z-index: 1;
}
main .banner__indicator {
  position: absolute;
  top: 3%;
  right: -9%;
  width: 782px;
  height: 800px;
  z-index: 10;
}
main .banner__indicator span {
  color: #666;
  position: relative;
  font-size: 20px;
}
main .banner__indicator span i {
  font-size: 12px;
}
main .banner__indicator .indi1 {
  left: 135px;
  top: 25px;
}
main .banner__indicator .indi1.active {
  color: #FEEEDA;
}
main .banner__indicator .indi2 {
  left: 60px;
  top: 115px;
}
main .banner__indicator .indi2.active {
  color: #EB9B22;
}
main .banner__indicator .indi3 {
  left: 31px;
  top: 205px;
}
main .banner__indicator .indi3.active {
  color: #643725;
}
main .banner__indicator .indi4 {
  left: 60px;
  top: 295px;
}
main .banner__indicator .indi4.active {
  color: #5AE9C0;
}
main .banner__indicator .indi5 {
  left: 135px;
  top: 385px;
}
main .banner__indicator .indi5.active {
  color: #EE7F83;
}
main .banner__indicator ul {
  position: relative;
}
main .banner__indicator ul li {
  position: relative;
  width: 3px;
  height: 3px;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: #666;
}
main .banner__indicator ul:nth-of-type(1) li.active {
  background-color: #FEEEDA;
}
main .banner__indicator ul:nth-of-type(1) li:nth-child(1) {
  left: 120px;
  top: 43px;
}
main .banner__indicator ul:nth-of-type(1) li:nth-child(2) {
  left: 105px;
  top: 61px;
}
main .banner__indicator ul:nth-of-type(1) li:nth-child(3) {
  left: 90px;
  top: 79px;
}
main .banner__indicator ul:nth-of-type(1) li:nth-child(4) {
  left: 75px;
  top: 97px;
}
main .banner__indicator ul:nth-of-type(2) li.active {
  background-color: #EB9B22;
}
main .banner__indicator ul:nth-of-type(2) li:nth-child(1) {
  left: 46px;
  top: 133px;
}
main .banner__indicator ul:nth-of-type(2) li:nth-child(2) {
  left: 41px;
  top: 151px;
}
main .banner__indicator ul:nth-of-type(2) li:nth-child(3) {
  left: 36px;
  top: 169px;
}
main .banner__indicator ul:nth-of-type(2) li:nth-child(4) {
  left: 31px;
  top: 187px;
}
main .banner__indicator ul:nth-of-type(3) li.active {
  background-color: #643725;
}
main .banner__indicator ul:nth-of-type(3) li:nth-child(1) {
  left: 31px;
  top: 223px;
}
main .banner__indicator ul:nth-of-type(3) li:nth-child(2) {
  left: 36px;
  top: 241px;
}
main .banner__indicator ul:nth-of-type(3) li:nth-child(3) {
  left: 41px;
  top: 259px;
}
main .banner__indicator ul:nth-of-type(3) li:nth-child(4) {
  left: 46px;
  top: 277px;
}
main .banner__indicator ul:nth-of-type(4) li.active {
  background-color: #5AE9C0;
}
main .banner__indicator ul:nth-of-type(4) li:nth-child(1) {
  left: 75px;
  top: 313px;
}
main .banner__indicator ul:nth-of-type(4) li:nth-child(2) {
  left: 90px;
  top: 331px;
}
main .banner__indicator ul:nth-of-type(4) li:nth-child(3) {
  left: 105px;
  top: 349px;
}
main .banner__indicator ul:nth-of-type(4) li:nth-child(4) {
  left: 120px;
  top: 367px;
}
main .banner__indicator ul:nth-of-type(5) {
  display: none;
}
main .banner__indicator ul:nth-of-type(5) li.active {
  background-color: #EE7F83;
}
main .banner__indicator ul:nth-of-type(5) li:nth-child(1) {
  left: 158px;
  top: 403px;
}
main .banner__indicator ul:nth-of-type(5) li:nth-child(2) {
  left: 178px;
  top: 421px;
}
main .banner__indicator ul:nth-of-type(5) li:nth-child(3) {
  left: 198px;
  top: 439px;
}
main .banner__indicator ul:nth-of-type(5) li:nth-child(4) {
  left: 219px;
  top: 457px;
}
main .menu {
  max-width: 1170px;
  margin: auto;
  padding: 90px 50px;
  text-align: center;
  box-sizing: border-box;
}
main .menu__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main .menu__card:nth-child(1) img {
  width: 209px;
  left: 20px;
}
main .menu__card--com {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px 0;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #FEEEDA;
  border-radius: 45px;
  box-shadow: 4px 4px #ccc;
  text-align: left;
}
main .menu__card--com a {
  font-size: 22px;
  font-family: "AppleSDGothicNeoEB";
  color: #FF8D9A;
}
main .menu__card--com img {
  position: absolute;
  left: 0px;
  width: 300px;
}
main .menu__card--com .size {
  width: 206px;
  height: 260px;
  padding: 8% 16%;
}
main .event {
  position: relative;
  max-width: 1920px;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  background-color: #FF8D9A;
}
main .event .swiper {
  max-width: 1200px;
  height: 100%;
}
main .event .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
main .event .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
main .event .swiper-button-next {
  color: white;
}
main .event .swiper-button-prev {
  color: white;
}
main .event .swiper-pagination-bullet-active {
  background: white;
}
main .store {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 90px 0;
}
main .store h2 {
  display: inline-block;
  width: 585px;
}
main .store__image {
  display: flex;
}
main .store__image img {
  width: 585px;
}
main .insta {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 70px 0;
}
main .insta h2 {
  position: relative;
}
main .insta h2::before {
  position: absolute;
  top: 13px;
  left: 0;
  display: inline-block;
  text-align: center;
  content: "";
  width: 35%;
  height: 1px;
  background: #ccc;
}
main .insta h2::after {
  position: absolute;
  top: 13px;
  right: 0;
  display: inline-block;
  text-align: center;
  content: "";
  width: 35%;
  height: 1px;
  background: #ccc;
}
main .insta__grid {
  display: grid;
  max-width: 1170px;
  padding: 50px 108px;
  grid-template-columns: repeat(4, 238px);
  grid-template-rows: repeat(3, 238px);
  grid-gap: 3px 3px;
}
main .insta__grid img {
  width: 238px;
  height: 238px;
  object-fit: cover;
}

footer {
  max-width: 1920px;
  margin: auto;
  background-color: #f6f6f6;
}
footer .info {
  position: relative;
  padding: 20px 0;
  text-align: center;
}
footer .info a {
  font-size: 14px;
  color: #888888;
  font-family: "AppleSDGothicNeoL";
}
footer .info::after {
  position: absolute;
  top: 60px;
  right: 0;
  display: inline-block;
  text-align: center;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
}
footer .addr {
  display: flex;
  max-width: 1170px;
  margin: auto;
}
footer .addr__left {
  width: 50%;
  color: #555;
}
footer .addr__left h2 a {
  display: block;
  width: 282px;
  height: 40px;
  padding: 10px 0;
  background: url(../img/logo1.png) no-repeat center center/contain;
  text-indent: -9999em;
}
footer .addr__left address {
  padding: 10px 0;
  text-align: left;
  font-size: 14px;
}
footer .addr__left .brand {
  padding: 20px 0px 20px 0px;
}
footer .addr__left .brand__list {
  display: flex;
  justify-content: flex-start;
  height: 31px;
}
footer .addr__left .brand__list li {
  height: 31px;
}
footer .addr__left .brand__list .li_2 {
  padding: 0 10px;
}
footer .addr__left .brand__list .li_3 {
  padding: 0 10px;
}
footer .addr__left .brand__list .li_4 {
  padding: 0 0 0 10px;
}
footer .addr__left .brand__list .li_5 img {
  width: 31px;
}
footer .addr__right {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  color: #555;
}
footer .addr__right .sns__list {
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  height: 37px;
  font-size: 24px;
}
footer .addr__right .sns__list li {
  padding: 0 10px;
}
footer .addr__right .sns__list li .circle {
  width: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 33px;
  text-align: center;
  line-height: 35px;
  padding: 2px 0 0 0px;
}
footer .addr__right .sns__list li i {
  color: #aea498;
}
footer .addr__right .sns__list li i:hover {
  color: #3d3a36;
}
footer .addr__right .fam-site {
  width: 220px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #ccc;
}
footer .addr__right .fam-site__drop {
  line-height: 36px;
  color: #555;
}
footer .addr__right .fam-site__drop span {
  padding: 0 10px;
}
footer .addr__right .fam-site__drop i {
  position: relative;
  left: 102px;
  font-size: 20px;
}
footer .addr__right .fam-site__down {
  display: none;
  max-height: 106px;
  padding: 0 10px;
  overflow-y: scroll;
}

/*# sourceMappingURL=style.css.map */
